{
  "plugins": [
    ["module:react-native-dotenv", {
      "allowlist": [
        "BACK_END_SERVER_URL",
        "BRAND_NAME",
        "FIREBASE_API_KEY",
        "FIREBASE_APP_ID",
        "FIREBASE_AUTH_DOMAIN",
        "FIREBASE_MEASUREMENT_ID",
        "FIREBASE_MESSAGING_SENDER_ID",
        "FIREBASE_PROJECT_ID",
        "FIREBASE_STORAGE_BUCKET",
        "DEBUG_TOKEN",
        "SLIPOK_API_KEY",
        "SLIPOK_BRANCH_ID"

      ],
      "safe": true,
      "allowUndefined": false

    }]
  ]
}