{
  "plugins": [
    ["module:react-native-dotenv", {
      "allowlist": [
        "BACK_END_SERVER_URL",
        "BRAND_NAME"
        
      ],
      "safe": true,
      "allowUndefined": false

    }]
  ]
}